streamlit==1.42.2
langchain==0.3.19
langchain-openai==0.3.7
langchain-anthropic==0.3.8
langchain-google-genai==2.0.11
langchain-community==0.3.18
langchain-experimental==0.3.4
sqlalchemy==2.0.38
langgraph==0.2.75
psycopg2-binary==2.9.10
authlib==1.5.0
pymongo==4.11.1
motor==3.7.0
matplotlib==3.10.1
plotly==6.0.0
langchain-voyageai==0.1.4
faiss-cpu==1.10.0
langchain-cohere==0.4.3